.bevel.all {
  background: $post-background; /* default color */
  background:
  -moz-linear-gradient(45deg,  transparent $angle-length, $post-background $angle-length),
  -moz-linear-gradient(135deg, transparent $angle-length, $post-background $angle-length),
  -moz-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
  -moz-linear-gradient(315deg, transparent $angle-length, $post-background $angle-length);
  background:
  -o-linear-gradient(45deg,  transparent $angle-length, $post-background $angle-length),
  -o-linear-gradient(135deg, transparent $angle-length, $post-background $angle-length),
  -o-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
  -o-linear-gradient(315deg, transparent $angle-length, $post-background $angle-length);
  background:
  -webkit-linear-gradient(45deg,  transparent $angle-length, $post-background $angle-length),
  -webkit-linear-gradient(135deg, transparent $angle-length, $post-background $angle-length),
  -webkit-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
  -webkit-linear-gradient(315deg, transparent $angle-length, $post-background $angle-length);
}
.bevel.tlbr {
  background: $post-background; /* default color */
  background:
  -moz-linear-gradient(45deg,  $post-background $angle-length, $post-background $angle-length),
  -moz-linear-gradient(135deg, transparent $angle-length, $post-background $angle-length),
  -moz-linear-gradient(225deg, $post-background $angle-length, $post-background $angle-length),
  -moz-linear-gradient(315deg, transparent $angle-length, $post-background $angle-length);
  background:
  -o-linear-gradient(45deg,  $post-background $angle-length, $post-background $angle-length),
  -o-linear-gradient(135deg, transparent $angle-length, $post-background $angle-length),
  -o-linear-gradient(225deg, $post-background $angle-length, $post-background $angle-length),
  -o-linear-gradient(315deg, transparent $angle-length, $post-background $angle-length);
  background:
  -webkit-linear-gradient(45deg,  $post-background $angle-length, $post-background $angle-length),
  -webkit-linear-gradient(135deg, transparent $angle-length, $post-background $angle-length),
  -webkit-linear-gradient(225deg, $post-background $angle-length, $post-background $angle-length),
  -webkit-linear-gradient(315deg, transparent $angle-length, $post-background $angle-length);
}
//.bevel.trbl {
//  background: $post-background; /* default color */
//  background:
//  -moz-linear-gradient(45deg,  transparent $angle-length, $post-background $angle-length),
//  -moz-linear-gradient(135deg, $post-background $angle-length, $post-background $angle-length),
//  -moz-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
//  -moz-linear-gradient(315deg, $post-background $angle-length, $post-background $angle-length);
//  background:
//  -o-linear-gradient(45deg,  transparent $angle-length, $post-background $angle-length),
//  -o-linear-gradient(135deg, $post-background $angle-length, $post-background $angle-length),
//  -o-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
//  -o-linear-gradient(315deg, $post-background $angle-length, $post-background $angle-length);
//  background:
//  -webkit-linear-gradient(45deg,  transparent $angle-length, $post-background $angle-length),
//  -webkit-linear-gradient(135deg, $post-background $angle-length, $post-background $angle-length),
//  -webkit-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
//  -webkit-linear-gradient(315deg, $post-background $angle-length, $post-background $angle-length);
//}
//.bevel.tr {
//  background: $post-background; /* default color */
//  background:
//  -moz-linear-gradient(45deg,  $post-background $angle-length, $post-background $angle-length),
//  -moz-linear-gradient(135deg, $post-background $angle-length, $post-background $angle-length),
//  -moz-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
//  -moz-linear-gradient(315deg, $post-background $angle-length, $post-background $angle-length);
//  background:
//  -o-linear-gradient(45deg,  $post-background $angle-length, $post-background $angle-length),
//  -o-linear-gradient(135deg, $post-background $angle-length, $post-background $angle-length),
//  -o-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
//  -o-linear-gradient(315deg, $post-background $angle-length, $post-background $angle-length);
//  background:
//  -webkit-linear-gradient(45deg,  $post-background $angle-length, $post-background $angle-length),
//  -webkit-linear-gradient(135deg, $post-background $angle-length, $post-background $angle-length),
//  -webkit-linear-gradient(225deg, transparent $angle-length, $post-background $angle-length),
//  -webkit-linear-gradient(315deg, $post-background $angle-length, $post-background $angle-length);
//}
.bevel.all, .bevel.trbl, .bevel.tlbr, .bevel.tr {
  background-position: bottom left, bottom right, top right, top left;
  -moz-background-size: 50% 50%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  padding: 15px;
}
